In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
movies = pd.read_csv('top10K-TMDB-movies.csv')

In [3]:
movies.head(2)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731

In [4]:
movies['original_language'].value_counts()

original_language
en    7810
fr     680
it     434
ja     275
es     195
de     104
ko      76
cn      54
zh      54
ru      47
pt      43
hi      39
sv      36
da      29
no      18
pl      16
nl      12
tr      11
th      10
fa       8
hu       6
id       6
fi       4
el       4
cs       3
is       3
sr       3
te       2
ro       2
eu       2
ar       2
et       1
sh       1
bn       1
bs       1
ml       1
la       1
af       1
uk       1
nb       1
he       1
ab       1
xx       1
Name: count, dtype: int64

In [5]:
movies = movies[['id','title','genre','overview']]

In [6]:
movies.head(1)

,id,title,genre,overview
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10000 non-null  int64
 1   title     10000 non-null  object
 2   genre     9997 non-null   object
 3   overview  9987 non-null   object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [8]:
movies.isnull().sum()

id           0
title        0
genre        3
overview    13
dtype: int64

In [9]:
movies.dropna()

,id,title,genre,overview
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...

In [10]:
movies.duplicated().sum()

np.int64(0)

In [11]:
movies.iloc[0].genre

'Drama,Crime'

In [12]:
movies['tags']= movies['genre']+ movies['overview']

In [13]:
movies.head(3)

,id,title,genre,overview,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...","Drama,CrimeSpanning the years 1945 to 1955, a ..."

In [14]:
new= movies[['id','title','tags']]

In [15]:
new

,id,title,tags
0,278,The Shawshank Redemption,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,CrimeIn the continuing saga of the Corle..."
...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,FantasyThe story follows the ..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,"Action,Science Fiction,WarDuring World War II,..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,DramaA man named Farm..."
9999,455957,Domino,"Thriller,Action,CrimeSeeking justice for his p..."

In [16]:
new['tags'][0]

'Drama,CrimeFramed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.'

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=10000, stop_words='english')

In [18]:
new = new.dropna(subset=['tags'])

vectors = cv.fit_transform(new['tags'].values.astype('U')).toarray()

In [19]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [20]:
vectors.shape

(9985, 10000)

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
similarity=cosine_similarity(vectors)

In [23]:
cosine_similarity(vectors).shape

(9985, 9985)

In [24]:
similarity[0]

array([1.        , 0.06253054, 0.05802589, ..., 0.07963978, 0.07597372,
       0.03798686])

In [25]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(3708, np.float64(0.23539595453459988)),
 (9000, np.float64(0.2238141290858972)),
 (3648, np.float64(0.22019275302527214)),
 (2605, np.float64(0.20100756305184245)),
 (4067, np.float64(0.20100756305184245))]

In [26]:
def recommend(movie):
    movie_index= new[new['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list=sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new.iloc[i[0]].title)

In [27]:
recommend('Titanic')

Anything for Her
The Getaway
The Woodsman
Pusher II
Fatal Attraction

In [28]:
import pickle

In [29]:
pickle.dump(new,open('movie_dict.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))